{
    "user": "email",
    "passwd": "1234",
    "thread": [
        [
            "100000000000000", ["100000000000003"] #group
        ],
        [
            "100000000000001" #friend
        ],
        [
            "100000000000002" #friend
        ]
    ]
}